/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select {
		font-size: 13pt;
	}

	.container > .container {
		width: 100% !important;
	}

    /* Header */
        #nav {
            right: 4em;
        }
            #nav ul li {
                margin-left: 0.3em;
                font-size: 0.8em;
            }
                #nav ul li a {
                    padding: 0 0.5em 0 0.5em;
                }
        #lang {
            right: 0.5em;
            margin-left: 0.5em;
        }
            #lang a {
                font-size: 0.8em;
                padding: 0 0.25em 0 0.25em;
            }

	/* Main */
		
		.main {
		}
		
			.main.style2 {
			}
			
				.main.style2 .content {
					width: 60%;
				}
			
					.main.style2.right .content {
						left: 40%;
					}

				.main.style2.inactive {
				}

					.main.style2.inactive .content {
					}

						.main.style2.inactive.left .content {
							left: -60%;
						}
						
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer {
		height: auto;
		line-height: inherit;
		text-align: center;
		padding: 2em 1em 2em 1em;
	}

		#footer .actions {
			position: relative;
			left: 0;
			top: 0;
			height: auto;
			line-height: inherit;
			margin: 0 0 1em 0;
		}
		
		#footer .menu {
			position: relative;
			right: 0;
			top: 0;
			height: auto;
			line-height: inherit;
		}