<!-- Header --->
<section id="section-title">
    <div class="content">
        <h1 translate="artworks.title"></h1>
        <h3 translate="artworks.slogan"></h3>
    </div>
</section>

<section id="section-artworks">
    <div class="content">
        <div class="artwork-grid">
            <pagination id="pagination" pagination="pagination" factory="factory"></pagination>
            <ul class="border">
                <li class="grid-item" ng-repeat="artwork in artworks">
                    <a class="artwork-item" href="#/artwork/{{artwork.id}}">
                        <img class="picture" ng-src="/upload/artworks/{{artwork.id}}/thumb/0.jpeg" title="{{artwork.name}}" alt="{{artwork.name}}" />
                        <div class="picture-detail">
                            <p><b>{{artwork.name}}</b></p>
                            <p>{{artwork.technique}}</p>
                            <p>{{artwork.dimensions}}</p>
                            <p>{{artwork.price | currency}}</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>