<!-- Header --->
<section id="section-title">
    <div class="content">
        <h1>@lang('index.welcome')</h1>
        <h3>@lang('index.slogan')</h3>
    </div>
</section>

<section id="section-artwork">
    <div class="content">
        <h2 class="artwork-title">{{artwork.name}}</h2>
        <div class="artwork-picture">
            <a ng-click="">
                <img class="frame" ng-src="/upload/artworks/{{artwork.id}}/medium/{{artwork.picture}}">
                <!--<img class="lupa" src="/images/icons/lupa.png">-->
            </a>
        </div>
        <div class="artwork-profile">
            <p ng-show="artwork.dimensions">{{artwork.dimensions}}</p>
            <p ng-show="artwork.technique">{{artwork.technique}}</p>
            <p ng-show="artwork.description">{{artwork.description}}</p>
            <p ng-show="artwork.price">{{artwork.price}}</p>
        </div>
    </div>
</section>

<hr>

