<!-- Header --->
<section id="section-title">
    <div class="content">
        <h1 translate="contact.title"></h1>
        <h3 translate="contact.slogan"></h3>
    </div>
</section>

<section id="section-contact">
    <div class="content">
        <div class="col-2">
            <p translate="contact.body"></p>
            <p translate="contact.subtitle"></p>
        </div>
        <div class="col-2">
            <form class="contact-form" name="contactForm"
                  ng-submit="contactForm.$valid && contact.sendMessage()" novalidate>
                <label translate="forms.name"></label>
                <input name="name" ng-model="contact.message.name" type="text" required />
                <label translate="forms.email"></label>
                <input name="email" ng-model="contact.message.email" type="email" required />
                <label translate="forms.message"></label>
                <textarea name="body" ng-model="contact.message.body" required></textarea>
                <button type="submit" class="submit-button" translate="forms.send"></button>
            </form>
        </div>
    </div>
</section>
