<!-- Header --->
<section id="section-title">
    <div class="content">
        <h1 translate="index.title"></h1>
        <h3 translate="index.slogan"></h3>
    </div>
</section>

<!-- News -->
<section id="panel">
    <div class="content">
        <!-- Tabs -->
        <div class="nav-tabs">
            <div class="tab" ng-class="{active:home.isSelected(1)}" ng-click="home.selectTab(1)" translate="index.last-artworks"></div>
            <div class="tab" ng-class="{active:home.isSelected(2)}" ng-click="home.selectTab(2)" translate="index.last-artists"></div>
        </div>
        <!-- Artworks -->
        <div class="content-tabs" ng-show="home.isSelected(1)">
            <div ng-repeat="artwork in home.artworks" class="picture">
                <a ng-href="#/artwork/{{artwork.id}}">
                    <img ng-src="/upload/artworks/{{artwork.id}}/thumb/{{artwork.picture}}" title="{{artwork.name}}" alt="{{artwork.name}}" />
                </a>
            </div>
        </div>
        <!-- artists -->
        <div class="content-tabs" ng-show="home.isSelected(2)">
            <div ng-repeat="artist in home.artists" class="picture">
                <a ng-href="#/{{artist.slug}}">
                    <img ng-src="/upload/artists/thumbs/{{artist.picture}}"  title="{{artist.name+' '+artist.surname}}" alt="{{artist.name+' '+artist.surname}}" />
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Information -->
<section id="what" class="white-background">
    <div class="content">
        <div class="col-2">
            <h2 translate="index.what.title"></h2>
            <p translate="index.what.body"></p>
        </div>
        <div class="col-2">
            <img class="picture" src="/images/articonic.jpeg">
        </div>
    </div>
</section>
<section id="about" class="grey-background">
    <div class="content">
        <div class="col-2">
            <img class="picture" src="/images/crayons.jpg">
        </div>
        <div class="col-2">
            <h2 translate="index.about.title"></h2>
            <p translate="index.about.body"></p>
        </div>
    </div>
</section>
<section id="gallery">
    <div class="content">
        <h2 translate="index.gallery.title"></h2>
        <p translate="index.gallery.body"></p>
        <a href="#contact" class="button" translate="index.gallery.link"></a>
    </div>
</section>
