<!-- Header --->
<section id="section-title">
    <div class="content">
        <h1 translate="login.title"></h1>
        <h3 translate="login.slogan"></h3>
    </div>
</section>

<section id="section-login">
    <div class="content">
        <form class="login-form" name="loginForm"
              ng-submit="loginForm.$valid && login.loginSubmit()" novalidate>
            <label translate="forms.email"></label>
            <input name="email" ng-model="login.message.email" type="email" required />
            <label translate="forms.password"></label>
            <input name="password" ng-model="login.message.password" type="password" required />
            <button type="submit" class="submit-button" translate="forms.send"></button>
        </form>
    </div>
</section>
