
@import "utils/mixins";
@import "utils/global";
@import "utils/responsive";
@import "partials/header";
@import "partials/footer";
@import "partials/pagination";

@import "utils/tabs";
@import "utils/panel";
@import "utils/forms";

.col-2 {
    display: block;
    width: auto;
    padding: 0 1em;

    @include respond-to($medium-ish) {
        display: inline-block;
        max-width: 45%;
        vertical-align: middle;
        &:nth-child(odd) {
            padding: 0 2.5% 0 0;
        }

        &:nth-child(even) {
            padding: 0 0 0 2.5%;
        }
    }
}
.picture{
    width: 100%;
}

.white-background {
    background: url('/images/landing_page/overlay.png'), url('/images/landing_page/one.jpg');
    h2,p{
        color: #000000;
    }
}
.grey-background {
    background: url('/images/landing_page/overlay.png'), url('/images/landing_page/two.jpg');

    h2,p{
        color: #FFFFFF;
    }
}

.button {
    @include button();
}

#section-title {
    @extend %light-background;
    margin-top: 2em;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

#section-contact {
    .col-2 {
        width: auto;

        @include respond-to($medium-ish){
            width: 45%;
        }
    }

   .contact-form {
       @include form();
       text-align: center;

       @include respond-to($medium-ish){
           text-align: left;
       }

       .submit-button {
           @include button();
           width: auto;
       }
    }
}

#section-login {
    .login-form {
        @include form();
        text-align: center;

        @include respond-to($medium-ish){
            text-align: left;
        }

        .submit-button {
            @include button();
            width: auto;
        }
    }
}
#section-artists {
    .artist-grid    {
        @extend %light-background;
        max-width: 80%;
        margin: 0 auto;
        border: 4px solid #FFFFFF;
        @include border-radius(20px);

        @include respond-to($large-ish) {
            max-width: 45%;
            margin: 0 5%;
            float: left;
        }

        .border {
            @extend %dark-background;
            list-style: none;
            padding: 0;
            margin: 1em;
            border: 1px solid #FFFFFF;
            @include border-radius(10px);

            .grid-item {
                display: inline-block;
                padding: .5em;

                @include respond-to($medium-ish) {
                    max-width: 45%;
                }

                .picture {
                    width: 100%;
                    float: left;
                    @include border-radius(20px);
                }

                .name-box {
                    font-size: 1em;
                    line-height: 1em;
                    max-width: 80%;
                    float: left;
                    top: -1.5em;
                    margin-bottom: -1.8em;
                    padding: .3em 5%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    background-color: #000000;
                    @include border-radius(0 20px 0 20px);
                }
            }
        }
    }

    .section-artist-preview {
        @extend %light-background;
        display: none;
        max-width: 30%;
        padding: 1em;
        margin: 0 5%;
        border: 4px solid #FFFFFF;
        @include border-radius(20px);

        @include respond-to($large-ish) {
            display: inline-block;
            vertical-align: top;
        }

        .profile-picture {
            max-width: 100%;
            max-height: 5em;
        }

        .mini-artwork-picture {
            float: left;
            max-width: 45%;
            margin: 2.5% 2.5%;
        }
    }
}

#section-artist {
    padding: 0;

    .artist-card {
        @extend %dark-background;
        overflow: hidden;

        @include respond-to($large-ish){
            max-width: 80%;
            margin: 1em auto;
        }

        .artist-picture {
            width: 100%;
            height: 15em;
            background: url(/images/articonic.png) center center no-repeat;
            background-size: cover;

            @include respond-to($medium-ish) {
                height: 20em;
            }
            @include respond-to($large-ish) {
                float: left;
                width: 27em;
                margin-right: 2em;
            }

            &.noinfo{
                @include respond-to($large-ish) {
                    margin: 0 auto;
                    float: none;
                }
            }
        }

        .artist-profile {
            max-width: 80%;
            margin: 0 auto;

            @include respond-to($large-ish) {
                max-width: none;
                text-align: left;
            }
        }
    }
}

.artwork-grid {
    @extend %light-background;
    max-width: 80%;
    padding: 0 1em 1em;
    margin: 1em auto;
    text-align: center;
    border: 4px solid #FFFFFF;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;

    .border {
        @extend %dark-background;
        list-style: none;
        padding: 1%;
        margin: 0 auto;
        border: 1px solid #FFFFFF;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;

        .my-art {
            min-height: 1em;
            width: 100%;
        }

        .grid-item {
            display: inline-block;
            width: 90%;
            padding: .5em;
            vertical-align: top;

            @include respond-to($medium-ish) {
                width: 45%;
            }

            @include respond-to($large-ish) {
                width: 23%;
            }

            .artwork-item{
                text-decoration: none;

                .picture {
                    width: 100%;
                    float: left;
                    margin-bottom: .5em;
                    -moz-border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -khtml-border-radius: 20px;
                    border-radius: 20px;
                }
                .picture-detail {
                    margin:.5em auto;
                    p{
                        margin: 0;
                        padding: 0;
                    }
                }
            }


        }
    }
}

#section-artwork {
    overflow: hidden;

    .artwork-title {
        text-align: center;
    }

    .artwork-picture {
        width: 90%;
        max-height: 110%;
        text-align: center;
        margin: 1em auto;

        @include respond-to($medium-ish) {
            width: 50%;
            margin: 0 1em;
            float: left;
        }

        @include respond-to($large-ish) {
            padding: 0;
            margin: 0 2em 0 0;
        }

        .frame {
            max-width: 90%;
            max-height: 20em;
            padding: 5%;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            -khtml-border-radius: 20px;
            border-radius: 20px;
            border: 1px solid #ffffff;
            background-color: #000000;
        }
    }

    .artwork-profile {
        padding: 0 1em;
        text-align: center;
        width: 80%;

        @include respond-to($medium-ish) {
            width: 40%;
            display: inline-block;
            padding: 0 1em 0 0;
            text-align: left;
        }
    }
}

.button-play {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    padding: 0 .3em 0 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
    border: 0;
    border-radius: 3.5em;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    background: rgb(69,72,77); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
    color: #fff;

    img {
        margin-left: 0.3em;
        width: 30px;
        vertical-align: middle;
    }
}

