
@mixin form($backgorund-color: #ffffff, $color: #000000) {

    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="time"],
    input[type="email"],
    select,
    textarea {
        display: block;
        width: 100%;
        max-width: 20em;
        padding: .5em;
        margin: .5em auto 1em;
        background-color: $backgorund-color;
        color: $color;
        @include border-radius(4px);
        -webkit-box-shadow: inset 0px 0px 5px 0px rgba(148, 146, 148, 0.9);
        -moz-box-shadow: inset 0px 0px 5px 0px rgba(148, 146, 148, 0.9);
        box-shadow: inset 0px 0px 5px 0px rgba(148, 146, 148, 0.9);
        border: 0;

        @include respond-to($medium-ish){
            margin: .5em 0 1em;
        }

        &::-webkit-input-placeholder {
            /* WebKit browsers */
            color: $light-grey-text;
        }
        &:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: $dark-grey-text;
        }
        &::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: $dark-grey-text;
        }
        &::-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: $light-grey-text;
        }
    }

    textarea {
        min-height: 5em;
    }

    label {
        color: #ffffff;
    }

    input[type=radio] + span {
        margin-left: .1em;
        margin-right: .6em;
        font-size: .8em;
    }

    .ng-invalid.ng-dirty {
        border: 1px solid #FA787E;
        border-bottom: 2px solid #FA787E;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .ng-valid.ng-dirty{
        border: 1px solid #78FA89;
        border-bottom: 2px solid #78FA89;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}