
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body {
    background: url('/images/landing_page/overlay.png'), url('/images/landing_page/intro.jpg');
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

#view-content {
    margin: 0 auto;
    overflow: hidden;
}

body,input,textarea,select {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: #ffffff;
}

h1,h2,h3,h4,h5 {
    font-weight: 900;
    color: #ffffff;
}
p{
     color: #ffffff;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #ffffff;
    text-decoration: none;
}

strong, b {
    font-weight: 900;
    color: #ffffff;
}

em, i {
    font-style: italic;
}

a {
    color: #f4f4f4;
    cursor: pointer;

    -moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

hr {
    border: 0;
    border-top: solid 1px #ddd;
}

blockquote {
    border-left: solid 0.5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}

p, ul, ol, dl, table {
    margin-bottom: 1em;
}

header p {
    display: block;
    margin: 1em 0 0 0;
    padding: 0 0 0.5em 0;
}

footer {
    margin-top: 2em;
}

br.clear {
    clear: both;
}

/* Sections/Articles */

section,
article {
    padding: 1em 0;

    @include respond-to($medium-ish) {
        padding: 2em 0;
    }
}
section > .content {
    max-width: 75em;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

article > :last-child {
    margin-bottom: 0;
}

article > .content > :last-child {
    margin-bottom: 0;
}

article:last-child {
    margin-bottom: 0;
}