@import "config";

// Create a media query block for a given query
@mixin respond-to($query) {
    @media #{$query} {
        @content;
    }
}

@mixin border-radius($border) {
    border-radius: $border;
    -moz-border-radius: $border;
    -webkit-border-radius: $border;
    -khtml-border-radius: $border;
}



@mixin button($background: #ffffff,$color: #000000) {
    display: inline-block;
    width: auto;
    font-weight: 700;
    color: $color;
    background: $background;
    text-align: center;
    letter-spacing: 2px;
    padding: 1em 2em;
    border: 0;
    @include border-radius(.1em);
    cursor: pointer;
    text-decoration: none;
}

@mixin button-icon() {
    @include button();
    letter-spacing: 0;

    img {
        position: absolute;
        height: 1em;
        margin-left: -.7em;

        @include breakpoint(small) {
            margin-left: 0;
        }
    }
    svg {
        position: absolute;
        height: 1em;
        width: 1em;
        margin-left: -.7em;

        @include breakpoint(small) {
            margin-left: 0;
        }
    }
    p {
        display: inline-block;
        width: 100%;
        margin: 0;
        text-align: center;
    }
}