$big-picture: 20em;
$small-picture: 10em;

.panel-content {
    width: 40em;
    display: inline-block;
    float: left;

    .big-square-picture {
        width: $big-picture;
        height: $big-picture/2;
        overflow: hidden;
        display: inline-block;
        float: left;

        & > img {
            width: $big-picture;
            display: block;
        }
    }
    .small-square-picture {
        width: $small-picture;
        height: $small-picture/2;
        overflow: hidden;
        display: inline-block;
        float: left;

        img {
            width: $small-picture;
            border: 1px solid #000000;
        }
    }
}

.panel-menu {
    display: inline-block;
    width: 20em;
    height: 40em;
    vertical-align: top;

    .panel-menu-item {
        height: 5em;
        line-height: 5em;
        background-color: #000;
    }
}