.not-mobile {
    display: none !important;

    @include respond-to($medium-ish){
        display: inherit !important;
    }
}

.only-mobile {
    display: inherit !important;

    @include respond-to($medium-ish){
        display: none !important;
    }
}