<!-- Header --->
<section id="section-title">
    <div class="content">
        <h1 translate="artists.title"></h1>
        <h3 translate="artists.slogan"></h3>
    </div>
</section>

<pagination pagination="pagination" factory="factory"></pagination>

<section id="section-artists">
    <div class="content">
        <div class="artist-grid">
            <ul class="border">
                <li class="grid-item" ng-repeat="artist in artists" ng-mouseover="showPreview(artist.slug)">
                    <a ng-href="#/{{artist.slug}}">
                        <img class="picture" ng-src="/upload/artists/thumbs/{{artist.picture}}" title="{{artist.name+' '+artist.surname}}" alt="{{artist.name+' '+$artist.surname}}" />
                        <sub class="name-box">{{artist.name+' '+artist.surname}}</sub>
                    </a>
                </li>
            </ul>
        </div>
        <div ng-show="isPreview()" class="section-artist-preview">
            <h2>{{preview.profile.name+' '+preview.profile.surname}}</h2>
            <p>{{preview.profile.my_art}}</p>
            <img class="mini-artwork-picture" ng-repeat="artwork in preview.artworks | limitTo:4" ng-src="/upload/artworks/{{artwork.id}}/thumb/0.jpeg" />
        </div>
    </div>
</section>

