
<lazy-style href="vendor/swipebox/src/css/swipebox.min.css"></lazy-style>
<lazy-js src="vendor/swipebox/src/js/jquery.swipebox.min.js"></lazy-js>

<!-- Header --->
<section id="section-title">
    <div class="content">
        <h1>{{artist.name+' '+artist.surname}}</h1>
        <h3 ng-show="artist.slogan">@lang('index.slogan')</h3>
    </div>
</section>

<section id="section-artist">
    <div class="content">
        <div class="artist-card">
            <div class="artist-picture" ng-class="{noinfo: noInfo}"  ng-if="artist.picture" ng-style= "{'background-image':'url(/upload/artists/'+artist.picture+')'}"></div>
            <div class="artist-profile" ng-show="artist.description">
                <p>{{artist.description}}</p>
                <p ng-show="artist.studies">{{artist.studies}}</p>
                <p ng-show="artist.address">{{artist.address}}</p>
                <a id="walk" ng-click="startWalk()" class="button-play">Visita virtual<img src="/images/icons/play.svg"></a>
            </div>
        </div>

    </div>
</section>


<section id="section-artworks">
    <div class="content">
        <div class="artwork-grid">
            <p class="my-art">{{artist.my_art}}</p>
            <ul class="border">
                <li class="grid-item" ng-repeat="artwork in artworks">
                    <a class="artwork-item" ng-href="#/artwork/{{artwork.id}}">
                        <img class="picture" ng-src="/upload/artworks/{{artwork.id}}/thumb/0.jpeg" title="{{artwork.name}}" alt="{{artwork.name}}" />
                        <div class="picture-detail">
                            <p><b>{{artwork.name}}</b></p>
                            <p>{{artwork.technique}}</p>
                            <p>{{artwork.dimensions}}</p>
                            <p>{{artwork.price | currency}}</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>