/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.button, input, select, textarea {
		position: relative;
		-ms-behavior: url('css/landing_page/PIE.htc');
	}
	
	input, select, textarea {
		border: solid 1px #ccc;
	}

	/* Buttons */
		
		.button {
		}

			.button.down {
				text-indent: 0;
			}
	
/*********************************************************************************/
/* Intro                                                                         */
/*********************************************************************************/

	#intro {
		-ms-behavior: url('css/landing_page/backgroundsize.min.htc');
		background: url('images/landing_page/intro.jpg');
		background-size: cover;
	}
	
		#intro:before {
			content: '';
			background: url('../images/landing_page/overlay.png');
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

/*********************************************************************************/
/* One                                                                           */
/*********************************************************************************/

	#one {
		-ms-behavior: url('css/landing_page/backgroundsize.min.htc');
		background: url('images/landing_page/one.jpg');
		background-size: cover;
	}

		#one:before {
			content: '';
			background: url('../images/landing_page/overlay.png');
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}

/*********************************************************************************/
/* Two                                                                           */
/*********************************************************************************/

	#two {
		-ms-behavior: url('css/landing_page/backgroundsize.min.htc');
		background: url('images/landing_page/two.jpg');
		background-size: cover;
	}

		#two:before {
			content: '';
			background: url('../images/landing_page/overlay.png');
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}