
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
    position: relative;
    height: 5em;
    line-height: 5em;
    margin: 0;
    margin-top: 2em;
    background: #39454b;
    color: #999;
    color: rgba(185,186,187,0.5);
    overflow: hidden;
    a {
        color: #999;
        color: rgba(185,186,187,0.5);
        &:hover {
            color: #bbb;
            color: rgba(185,186,187,1.0);
        }
    }
    .actions {
        position: absolute;
        left: 1em;
        top: 0.25em;
        height: 5em;
        line-height: 5em;
        margin: 0;

        li {
            font-size: 1.25em;
            margin: 0;
        }
    }
    .menu {
        position: absolute;
        right: 2em;
        top: 0;
        height: 5em;
        line-height: 5em;
        margin: 0;

        li {
            font-size: 0.9em;
        }
    }
}
