#header {
    width: 100%;
    min-height: 3em;
    background: #ffffff;

    #logo {
        margin-left: 2em;
        height: 3em;
        line-height: 3em;
        float: left;

        a {
            color: #000000;
            text-decoration: none;

            p{
                color: #000000;
                margin: 0;
                padding: 0;
                font-size: 1em;
                font-weight: 900;
                letter-spacing: -1px;
                overflow: hidden;

                img {
                    float: left;
                    margin: 0.25em 1em 0.25em 0;
                    height: 2.5em;
                }

                @include respond-to($large-ish) {
                    font-size: 1.25em;
                    img {
                        height: 2em;
                    }
                }
            }
        }
    }

    #menu-button {
        position: absolute;
        right: 2em;
        top: 0.5em;

        @include respond-to($large-ish) {
            display: none;
        }

        img{
            width: 2em;
        }
    }

    #nav {
        overflow: hidden;
        width: 100%;
        line-height: 2em;

        @include respond-to($large-ish) {
            float: right;
            width: auto;
        }

        .menu {
            text-align: left;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid darkgray;

            @include respond-to($large-ish) {
                border-bottom: 0;
            }
            a{
                color: #000000;
                text-decoration: none;
            }

            .menu-item {
                display: block;
                padding: .5em 1em;
                list-style: none;
                cursor: pointer;
                border-top: 1px solid darkgray;

                @include respond-to($large-ish) {
                    display: inline-block;
                    border-top: 0;
                }
            }

            .submenu {
                list-style: none;
                background-color: #FFFFFF;

                @include respond-to($large-ish) {
                    position: absolute;
                    right: 0;
                    padding: 0 1em;
                }
            }
        }
    }
}
