
#pagination {
    list-style: none;
    text-align: center;
    padding: 0;
    .menu-page {
        list-style: none;
        .menu-page-item {
            display: inline-block;
            margin: 0 1em;
        }
    }
}