<div class="big-square-picture">
    <img src="/upload/artworks/1/thumb/0.jpeg" />
</div>
<div class="big-square-picture">
    <div ng-repeat="artwork in newArtworks" class="small-square-picture">
        <a ng-href="/artwork/{{artwork.id}}">
            <img ng-src="/upload/artworks/{{artwork.id}}/thumb/{{artwork.picture}}" title="{{artwork.name}}" alt="{{artwork.name}}" />
        </a>
    </div>
</div>
<div class="big-square-picture">
    <div ng-repeat="artist in newArtists" class="small-square-picture">
        <a ng-href="/artist/{{artist.id}}">
            <img ng-src="/upload/artists/thumbs/{{artist.picture}}"  title="{{artist.name+' '+artist.surname}}" alt="{{artist.name+' '+artist.surname}}" />
        </a>
    </div>
    <div ng-repeat="artist in newArtists" class="small-square-picture">
        <a ng-href="/artist/{{artist.id}}">
            <img ng-src="/upload/artists/thumbs/{{artist.picture}}"  title="{{artist.name+' '+artist.surname}}" alt="{{artist.name+' '+artist.surname}}" />
        </a>
    </div>
</div>
<div class="big-square-picture">
    <img src="/upload/artworks/10/thumb/0.jpeg" />
</div>
