<div id="logo">
    <a ng-href="#/"><p><img src="/images/articonic.png">Articonic</p></a>
</div>
<div id="menu-button"><a ng-click="nav.toggleMenu()"><img src="/images/icons/menu.svg"></a></div>
<div id="nav" ng-show="nav.isMenu()">
    <ul class="menu">
        <a href="#/"><li class="menu-item">Home</li></a>
        <a href="#/artists"><li class="menu-item">Artists</li></a>
        <a href="#/artworks"><li class="menu-item">Artworks</li></a>
        <a href="#/contact"><li class="menu-item">Contact</li></a>
        <a href="#/login"><li class="menu-item">Login</li></a>
        <a ng-click="nav.openSubmenu(1)"><li class="menu-item">Language</li></a>
        <ul class="submenu" ng-show="nav.isOpen(1)">
            <a><li class="submenu-item">English</li></a>
            <a><li class="submenu-item">Español</li></a>
        </ul>
    </ul>
</div>
