<ul class="menu-page" ng-show="totalPages > 1">
  <li class="menu-page-item"><a ng-click="firstPage()">Primera &laquo;</a></li>
  <li class="menu-page-item"><a ng-click="prevPage()">Anterior &lsaquo;</a></li>
  <li class="menu-page-item" ng-repeat="n in pages">
    <a ng-bind="n" ng-click="setPage(n)">1</a>
  </li>
  <li class="menu-page-item"><a ng-click="nextPage()">Siguiente &rsaquo;</a></li>
  <li class="menu-page-item"><a ng-click="lastPage()">Ultima &raquo;</a></li>
</ul>